<h1>Sign up</h1>

<form action="/insert_leader" method="post">

  <div>
    <label for="email">Email</label>
    <input id="email" name="email" placeholder="Choose a email..." type="text">
  </div>

      
      
         
  <!-- Label and input for bio start -->
  
  <label for="bio">
    Bio
  </label>

  <div>
        <textarea id="bio" name="bio" rows="3"></textarea>
      </div>
  <!-- Label and input for bio end -->

    
         
  <!-- Label and input for admin start -->
  
  <label for="admin">
    Admin
  </label>

  <div>
        <input id="admin" name="admin" type="checkbox">
      </div>
  <!-- Label and input for admin end -->

    
         
  <!-- Label and input for username start -->
  
  <label for="username">
    Username
  </label>

  <div>
          
    <input type="text" id="username" name="username">
      </div>
  <!-- Label and input for username end -->

    
  
  <div>
    <label for="password">Password</label>
    <input id="password" name="password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation">Password Confirmation</label>
    <input id="password_confirmation" name="password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>
