<h1>Sign up</h1>

<form action="/post_player" method="post">

  <div>
    <label for="email">Email</label>
    <input id="email" name="email" placeholder="Choose a email..." type="text">
  </div>
                 
  <div>
    <label for="first_name">First name</label>
      
    <input type="text" id="first_name" name="first_name">
  </div>
         
  <div>
    <label for="middle_name">Middle name</label>
      
    <input type="text" id="middle_name" name="middle_name">
  </div>
         
  <div>
    <label for="bio">Bio</label>
    <textarea id="bio" name="bio" rows="3"></textarea>
  </div>
         
  <div>
    <label for="a_bool">A bool</label>
    <input id="a_bool" name="a_bool" type="checkbox">
  </div>
         
  <div>
    <label for="a_text">A text</label>
    <textarea id="a_text" name="a_text" rows="3"></textarea>
  </div>
         
  <div>
    <label for="a_date">A date</label>
      
    <input type="text" id="a_date" name="a_date">
  </div>
         
  <div>
    <label for="a_time">A time</label>
      
    <input type="text" id="a_time" name="a_time">
  </div>
         
  <div>
    <label for="a_datetime">A datetime</label>
      
    <input type="text" id="a_datetime" name="a_datetime">
  </div>
    
  <div>
    <label for="password">Password</label>
    <input id="password" name="password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation">Password Confirmation</label>
    <input id="password_confirmation" name="password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>
